.container {
  padding: 25px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 50px;
  box-shadow: -1px -1px 8px 2px rgba(0, 0, 0, 0.1);

  text-align: center;
  border-radius: 1rem;
}
.darkcard {
  background-color: #2b3756c2;
}
.darkcard:hover {
  background-color: #4d62948c;
}
.lightcard {
  background-color: #fcfcfc;
}
.lightcard:hover {
  cursor: pointer;
  background: #e5e5e5;
  border-radius: 15px;
  transition: all 0.4;
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.imageContainer {
  flex: 1;
  height: 350px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .imageContainer {
    flex: none;
  }
}

.image {
  object-fit: cover;
  border-radius: 12px;
}
@media screen and (max-width: 768px) {
  .image {
    position: static !important;
  }
}
.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
}

.date {
  color: gray;
}

.category {
  color: crimson;
  font-weight: 500;
}

.desc {
  font-size: 18px;
  font-weight: 300;
  color: gray;
}

.link {
  border-bottom: 1px solid crimson;
  width: max-content;
  padding: 2px 0px;
}

/* @media screen and (max-width: 1280px) {
  .imageContainer {
    display: none;
  }
} */
