.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
.social {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.logo {
  display: flex;
  flex: 2;
  text-align: center;
  justify-content: center;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 20px;
  /* flex: 1; */
  font-size: 15px;
  align-items: center;
}

.hiddenLinks {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .social {
    display: none;
  }
  .links {
    gap: 25px;
    font-size: 13px;
    flex: 0;
  }
  .hiddenLinks {
    display: none;
  }
  .logo {
    flex: 0;
  }
  .container {
    justify-content: space-between;
  }
}
